@page
@model TellMeMore.Pages.Qualys.QualysModel
@{
	ViewData["Title"] = "Qualys";
	Layout = "~/Pages/Shared/_Layout.cshtml";
}

<div class="col-md-12" style="margin-top:2%;margin-bottom:2%;">
	<div class="alert alert-info alert-dismissible fade show">
		Note - Scan may take a couple of minutes. Please do not refresh page.
		<button type="button" class="close" data-dismiss="alert" aria-label="Close">
			<span aria-hidden="true">&times;</span>
		</button>
	</div>
</div>

<h1>Qualys SSLlabs Scan</h1>


@if (!string.IsNullOrEmpty(TempData["Error"]?.ToString()))
{
	<div class="col-md-12" style="margin-top:2%;margin-bottom:2%;">
		<div class="alert alert-danger alert-dismissible fade show">
			@TempData["Error"]?.ToString()
			<button type="button" class="close" data-dismiss="alert" aria-label="Close">
				<span aria-hidden="true">&times;</span>
			</button>
		</div>
	</div>
}

<div class="form-group">
	<form method="POST" style="margin-top:2%;">
		<label style="font-size:large;font-weight:bold">Host URL</label>
		<input asp-for="HostUrl" type="text" placeholder="URL" class="input-group" />
		<br />
		<button type="submit" class="btn btn-dark">Scan</button>
	</form>
</div>


@if (Model?.Analysis?.Host != null && Model?.Analysis?.Status != SslLabsLib.Enums.AnalysisStatus.ERROR)
{
	<p><strong>Host name:</strong> @Model.Analysis.Host</p>
	<p><strong>Certificate Issuer Label:</strong> @Model.Analysis.Endpoints[0].Details.Cert.IssuerLabel</p>
	<p><strong>Certificate Signature Algorithm:</strong> @Model.Analysis.Endpoints[0].Details.Cert.SigAlg</p>

	foreach (var item in Model.Analysis.Endpoints)
	{
		switch (item.Grade)
		{
			case "A+":
				<p style="color:lightgreen;"><strong>Host @item.IpAddress Grade: @item.Grade</strong></p>
				break;
			case "A":
				<p style="color:lightgreen;"><strong>Host @item.IpAddress Grade: @item.Grade</strong></p>
				break;
			case "B":
				<p style="color:lightblue;"><strong>Host @item.IpAddress Grade: @item.Grade</strong></p>
				break;
			case "C":
				<p style="color:lightyellow;"><strong>Host @item.IpAddress Grade: @item.Grade</strong></p>
				break;
			case "D":
				<p style="color:yellow;"><strong>Host @item.IpAddress Grade: @item.Grade</strong></p>
				break;
			case "E":
				<p style="color:darkred;"><strong>Host @item.IpAddress Grade: @item.Grade</strong></p>
				break;
			case "F":
				<p style="color:red;"><strong>Host @item.IpAddress Grade: @item.Grade</strong></p>
				break;
			default:
				<p style="color:gray;"><strong>Host @item.IpAddress Grade: @item.Grade</strong></p>
				break;

		}
	}

	<br />
	<br />

	<p>

		<button style="margin-top:1%;margin-bottom:1%;" class="btn btn-dark" data-toggle="collapse" data-target="#cipers"><strong>Show Server ciphers</strong></button>

		<div id="cipers" class="collapse">
			@foreach (var item in Model.Analysis.Endpoints)
			{
				foreach (var cipher in item.Details.Suites.List)
				{
			<p><strong>Name:</strong> @cipher.Name</p>
			<p><strong>Cipher Strength:</strong> @cipher.CipherStrength</p>
			<p><strong>Dh Strength:</strong> @(cipher.DhStrength ?? "Not Found")</p>
			<p><strong>Dh bits:</strong> @(cipher.DhYs ?? "Not Found")</p>
			<p><strong>ECDH Strength:</strong> @cipher.EcdhStrength</p>
			<p><strong>ECDH bits:</strong> @cipher.EcdhStrength</p>
		}
	}
			</div>

			<button style="margin-top:1%;margin-bottom:1%;" class="btn btn-dark" data-toggle="collapse" data-target="#protocols"><strong>Show Protocols</strong></button>

			<div id="protocols" class="collapse">
				@foreach (var item in Model.Analysis.Endpoints)
				{
					foreach (var proto in item.Details.Protocols)
					{
						<p><strong>Name:</strong> @proto.Name</p>
						<p><strong>V2 Suites Disabled:</strong> @(proto.V2SuitesDisabled ?? "Not Found")</p>
						<p><strong>Version:</strong> @proto.Version</p>
					}
				}
			</div>
			</p>
}
